/*.full-screen-img{
	postion:absolute;
	display:block;
	width:100%;
	z-index: -1;
	overflow: hidden;
	height:100vh;
}
*/
#heading{
	color:white;
	text-align: center;
	position:absolute;
	font-family: 'Creepster', cursive;
	font-size:6em;
	top:25%;
	left:25%;
	height:20%;
	width:50%;
}
#blood{
	position:absolute;
	z-index:2;
	display:block;	
	top:20%;
	left:10%;
	height:60%;
	width:80%;
}

#click{
	display:block;
	background-image:url('../images/env.png') ;
	background-repeat: no-repeat;
	background-position: center;
	top:75%;
	left:44%;
	height:12%;
	width:12%;
	position:absolute;
	z-index: 2;
	margin:0;
}

#click:hover{
	cursor: pointer;
}

.letter-background{
	background-image:url('../images/letter.png') ;
	background-repeat: no-repeat;
	background-size: contain;
	height:940px;
	width:760px;
}

.absolute-header{
	position: absolute;
	top:15%;
	left:15%;
}

.absolute-main{
	position: absolute;
	top:30%;
	left:25%;
}

.fancy-font{
	font-family: 'Marck Script', cursive;
	font-size: 1.5em;
}

.absolute{
	position:absolute;
}

.bottom{
	bottom:10%;
}

.right{
	right:10%;
}
.absolute-bottom-right{
	position: absolute;
	right:10%;
	bottom:10%;
}