#empty-room{
	position:absolute;
	width:80%;
	height:60%;
	left:10%;
	top:10%;
	/*background-color:black;*/
	z-index: 1;
}

#empty-room-content{
	position:absolute;
	top:50%;
	width:800px;
	left:20%;
	text-align: center;
	font-family: 'IM Fell English', serif;
	font-size:1.5em;
	display:none;
	color:white;
	background: rgba(0, 0, 0, 0.6);
	z-index: 2;
	opacity: 0;
}