#jack{
	/*background-color: black;*/
	position:absolute;
	width:200px;
	height:500px;
	top:100px;
	left:1250px;
}

#jack-message{
	background-color: black;
	color:white;
	position:absolute;
	font-family: 'IM Fell English', serif;
	font-size: 1.5em;
	width:320px;
	height:auto;
	top:200px;
	left:920px;
	background: rgba(70, 0,0, 0.8);
	opacity: 0;
}



#closet{
	position:absolute;
	display:none;
	width:400px;
	height:600px;
	/*background-color: red;*/
	left:200px;
	top:250px;
}

#text{
	font-family: 'IM Fell English', serif;
	font-size: 1.5em;
	color:white;
	position: absolute;
	display:block;
	top:200px;
}

#toEnding3{
	position:absolute;
	color:white;
	border-color: white;
	left:10%;
	top:300px;
}

#toBasement{
	position:absolute;
	color:white;
	border-color: white;
	right:10%;
	top:300px;
}