#jack{
	/*background-color: black;*/
	position:absolute;
	width:200px;
	height:500px;
	top:100px;
	left:1250px;
}

#jack-message{
	background-color: black;
	color:white;
	position:absolute;
	font-family: 'IM Fell English', serif;
	font-size: 1.5em;
	width:320px;
	height:auto;
	top:200px;
	left:920px;
	background: rgba(70, 0,0, 0.8);
	opacity: 0;
}

#arrow-normal{
	position:absolute;
	display:block;
	width:100px;
	height:80px;
	left:1710px;
	top:1200px;

}

#arrow-normal:hover{
	cursor: pointer;
}